/* classes CSS */

.input-control.sucess input{
    border-color: rgb(64, 187, 7);
}

.input-control.error input{
    border-color: rgb(236, 84, 57);
}

.input-control .error{
    color: rgb(236, 84, 57);
    font-size: 0.9em;
    height: 20px;
}

.input-control.sucess textarea {
    border: 3px solid rgb(64, 187, 7);
}

.input-control.error textarea {
    border: 3px solid rgb(236, 84, 57);
}
