@use 'variables' as *;
@use 'mixins' as *;

/* classes CSS */

.input-control.sucess input{
    border-color: $green;
}

.input-control.error input{
    border-color: $red;
}

.input-control .error{
    color: $red;
    font-size: 0.9em;
    height: 20px;
}

.input-control.sucess textarea {
    @include textarea($green);
}

.input-control.error textarea {
    @include textarea($red);
}
