@use 'variables' as *;
@use 'mixins' as *; 


/* Section iframe de Google Map + formulaire */

.contact-section{
    display: flex;
    justify-content: space-between;
}

/* Section Iframe Google Map */

.contact-section__iframe{
    display: flex;
    width: 400%;
}

/* Section Formulaire */

.form-section{
    background-color: $pink;
    width: 45%;
    margin-right: 2em;
    margin-bottom: $margin-bottom-standard;
}

h4{
    margin-bottom: 1em;
}

.form-section__paragraph{
    margin: -1.5em 1.5em -1em 1.5em;
}

form{
    margin: 0em 1.5em 1.5em 1.5em;
}

.form-section__hidden--labels{
    display: none;
}

.form-section__names{
    display: flex;
}

.form-section__first-name, .form-section__last-name{
    width: 95%;
}

.form-section__names input{
    width: 90%;
}


.form-section__input, .form-section__textarea{
    width: 95%;
}

.form-section__textarea{
    padding: 0.4em;
}

.input-control input:focus {
    outline: 0;
}

textarea{
    outline: none;
}

.form-section__button{
    @extend .button-style;
    padding: 1em 1em 1em 1em;
}

.form-section__button--hover:hover{
    @extend .button-style-hover-effect;
}

#first-name, #last-name, #email{
    padding: 0.4em;
}