@use 'variables' as *;
@use 'mixins' as *;


/* Section liste de liens */

.links-section{
    background-color: $blue;
    margin-bottom: $margin-bottom-standard;
}

.links-section__logo{
    width: 10%;
    display: flex;
    margin: auto;
}

.links-section__container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.links-section__list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.links-section__item {
    margin: 10px;
    text-decoration: none;
    color: black;
}



/* Section footer */

.footer-section{
    background-color: $pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section__website-creator{
    margin-left: 10px;
}


.footer-section__icon{
    width: 18%;
    margin-right: 10px;
}

.footer-section__container-contacts{
    display: flex;
    text-align: center;
    width: 35%;
    padding: 15px;
    margin: 10px;
}

.footer-section__contacts{
    display: flex; 

}

.footer-section__contacts{
    text-decoration: none;
    color: $black;
}


.footer-section__contacts--hover:hover{
    @include hover-effectX(1rem);
}



.links-section__item--hover:hover{
    border-bottom: 1px solid $black;
    padding: 0.5em;
 }


.footer-section__social-media--hover:hover {
    @include hover-effectY(-0.7rem);
}