@use 'variables' as *;
@use 'mixins' as *;


/* Section information */

.information-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $pink;

}

.button__submit{
    @include gradient-button($black);
    margin: 1em 1em 1em 1em;
    padding: 1em 2em 1em 2em;
}

.button__submit:hover{
    @include gradient-button-hover-effect($black);

}