
@mixin buttons($pink){
    background-color: $pink;
    padding: 1em 0em 1em 0em;
}

@mixin cards-donuts-image($pink){
    background-color: $pink;
    display: flex;
    flex-direction: column;
    text-align: center;
}


@mixin cards-team ($pink){
    background-color: $pink;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}



/*Fonctions Effets d'Hover*/

@mixin hover-effectY($translateY){
    transform: translateY($translateY);
}

@mixin hover-effectX($translateX){
    transform: translateX($translateX);
}