@use 'variables' as *;

@mixin buttons($pink){
    background-color: $pink;
    padding: 1em 0em 1em 0em;
}

@mixin cards-donuts-image($pink){
    background-color: $pink;
    display: flex;
    flex-direction: column;
    text-align: center;
}


@mixin cards-team ($pink){
    background-color: $pink;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}



/*Fonctions Effets d'Hover*/


@mixin hover-effectY($translateY){
    transform: translateY($translateY);
}

@mixin hover-effectX($translateX){
    transform: translateX($translateX);
}

@mixin hover-effect-underline($black){
    border-bottom: 1px solid $black;
    padding: 0.4em;
}

@mixin gradient-button($color-btn){
    background-image: linear-gradient(to right, #9BF3FE 0%, #FDD4E2  51%, #F4F4F4  100%);
    margin: 0.4em;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: $color-btn;            
    border-radius: 10px;
    border: 1px solid #9BF3FE;
}

@mixin gradient-button-hover-effect($color-text){
        background-position: right center;
        color: $color-text;
        text-decoration: none;

     
}

