@use 'variables' as *;



/*Fonctions Effets d'Hover*/


@mixin hover-effectY($translateY){
    transform: translateY($translateY);
}

@mixin hover-effectX($translateX){
    transform: translateX($translateX);
}

@mixin hover-effect-underline($color){
    border-bottom: 1px solid $color;
    padding: 0.4em;
}




