/* Section newsletter */

.newsletter-section{
    display: flex;
    flex-direction: column;
    margin: 1em 0em 1em 0em;
    text-align: center;
}

.newsletter-section__input-button{
    display: flex;
    justify-content: center;
    margin: 1em 0em 1em 0em;
}

.button__submit{
    padding: 10px;
    margin-left: 1em;
}