@use 'variables' as *;

/* Section produits */

.products-section{
    display: flex;
}

.products-section__title{
    text-align: center;
}

.products-section__card{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.products-section__donut{
    width: 40%;
}
.products-section__image{
    padding: 15px;
}

.products-section__paragraph{
    background-color: $blue;
    margin-bottom: $margin-bottom-standard;
}

