@use 'variables' as *;

/* Section produits */

.products-section{
    display: flex;
}

.products-section__title{
    text-align: center;
}

.products-section__card{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.products-section__header{
    font-size: $font-size-important-standard;
    font-weight: $font-weight-standard;
}

.products-section__donut{
    width: 40%;
}

.products-section__image{
    padding: 15px;
}

.products-section__paragraph{
    background-color: $blue;
    padding:0em 1em 0em 1em;
    margin-bottom: $margin-bottom-standard;
}

