
/*-- MEDIA QUERIES --*/

/*Tablettes */


@media (min-width:981px) and (max-width:1200px) {

    .navigation-bar-pc{
        width: 100%;
    }

    nav{
        width: 32%;
        margin-right: 220px;
    }

}

/*Mobiles */

@media only screen and (max-width: 980px) {

    .navigation-bar-pc{
        display: none;
    }

    .navigation-bar-mobile{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1em;
    }

    .navigation-bar-mobile__mobile-nav{
        text-align: end;
        margin-right: 2em;
    }

    .navigation-bar__logo{
        width: 60%;
    }
   
    .navigation-bar-mobile__mobile-icon{
        width: 25%; 
    }

    .information-section{
        flex-direction: column;
        text-align: center;
    }

    .products-section{
        flex-direction: column;
    }

    .statistics-section{
        flex-direction: column-reverse;
    }

    .statistics-section__image-container{
        width: 100%;
    }

    .statistics-section__image{
        width: 100%;
    }

    .team-section{
        flex-direction: column;
    }

    .parent-pc{
        display: none;
    }

    .parent-mobile {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 2 / 3 / 4; }
        .div2 { grid-area: 3 / 2 / 5 / 3; }
        .div3 { grid-area: 3 / 3 / 5 / 4; }
        .div4 { grid-area: 5 / 2 / 7 / 4; }

    .contact-section{
        flex-direction: column;
    }

    .form-section{
        width: 100%;
    }

    .links-section__list{
        flex-direction: column;
    }

    .links-section__list li{
        margin: 0.3em 0em 0.3em 0em;
    }

    .footer-section{
        flex-direction: column;
    }

    .footer-section__container-contacts{
        flex-direction: column;
    }

    .footer-section__contacts{
        justify-content: center;
    }

    .footer-section__icon{
        width: 8%;
    }

    .footer-section__container-contacts{
        width: 50%;
    }



}