
@use 'variables' as *;

/*-- MEDIA QUERIES --*/

/*Tablettes */


@media (min-width:981px) and (max-width:1200px) {

    .navigation-bar-pc{
        width: 100%;
    }

    nav{
        width: 32%;
        margin-right: 220px;
    }

}

/*Mobiles */

@media only screen and (max-width: 980px) {

    .navigation-bar-pc{
        display: none;
    }

    .navigation-bar-mobile{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1em;
    }

    .navigation-bar-mobile__mobile-nav{
        text-align: end;
        margin-right: 2em;
    }

    .navigation-bar__logo{
        width: 60%;
    }
   
    .navigation-bar-mobile__mobile-icon{
        width: 25%; 
    }

    .information-section{
        flex-direction: column;
        text-align: center;
    }

    .products-section{
        flex-direction: column;
    }

    .statistics-section{
        flex-direction: column-reverse;
        align-items: center;
    }

    .statistics-section__text-container{
        align-items: center;
    }

    .statistics-section__image-container{
        width: 100%;
    }

    .statistics-section__image{
        width: 100%;
    }

    .team-section{
        flex-direction: column;
    }

    .team-section__social-media{
        margin-bottom: $margin-bottom-standard;
    }

    .grid-container-pc{
        display: none;
    }

    .grid-container-mobile {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        }
        
        .grid-container__item1 { grid-area: 1 / 2 / 3 / 4; }
        .grid-container__item2 { grid-area: 3 / 2 / 5 / 3; }
        .grid-container__item3 { grid-area: 3 / 3 / 5 / 4; }
        .grid-container__item4 { grid-area: 5 / 2 / 7 / 4; }

    .contact-section{
        flex-direction: column;
    }

    .form-section{
        width: 100%;
    }

    .links-section__list{
        flex-direction: column;
    }

    .links-section__logo{
        width: 25%;
    }

    .links-section__list li{
        margin: 0.3em 0em 0.3em 0em;
    }

    .footer-section{
        flex-direction: column;
    }

    .footer-section__container-contacts{
        flex-direction: column;
    }

    .footer-section__contacts{
        justify-content: center;
    }

    .footer-section__icon{
       display: none;
    }

    .footer-section__container-contacts{
        width: 50%;
    }



}