@use 'variables' as *;
@use 'mixins' as *; 

/* Section présentation statistiques */

.statistics-section{
    display: flex;
    padding: 25px;

}

.statistics-section__image-container{
    width: 45%;
}

.statistics-section__text-container{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 3em 0em 3em;
}

.statistics-section__stats-numbers{
    display: flex; 
    font-size: $font-size-important-intermediary;
}

span{
    font-size: $font-size-text;
}

.statistics-section__stats{
    margin-right: 1.5em;
}

.statistics-section__button{
    width: 40%;
    @include gradient-button($dark-blue);
    padding: 1em 0.5em 1em 0.5em;
}

.statistics-section__button:hover{
    @include gradient-button-hover-effect($dark-blue);
}



