@use 'variables' as *;
@use 'mixins' as *;

/* Section présentation de l"équipe */

.team-section{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: $blue;

}

.team-section__profiles{
    text-align: center;
}

.team-section__photo{
    border-radius: 100px;
    
}

.team-section__social-media--hover:hover{
    @include hover-effectY(-0.7rem);
}

