@use 'variables' as *;
@use 'mixins' as *;

/* Section présentation de l"équipe */

.team-section__titles{
    text-align: center;
}

.team-section{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: $blue;
    margin-bottom: $margin-bottom-standard;
}

.team-section__profiles{
    text-align: center;
}

.team-section__photo{
    border-radius: 100px;
}

.team-section__name{
    font-size: $font-size-important-standard;
    font-weight: $font-weight-standard;
}

.team-section__social-media--hover:hover{
    @include hover-effectY(-0.7rem);
}

