
/*Charte Graphique: 

Polices d'écriture:
- Satisfy pour les titres 
- Lato pour les textes 

Taille police écriture:

Couleurs: 
- blanc: F4F4F4
- noir : 323232
- rose: FDD4E2
- bleu: 9BF3FE


*/



h1, h2, h3, h4{
    font-family: satisfy;
    font-size: 3.5em;
}

body{
    font-family: lato;
}

/* classes CSS */

.input-control.sucess input{
    border-color: rgb(64, 187, 7);
}

.input-control.error input{
    border-color: rgb(236, 84, 57);
}

.input-control .error{
    color: rgb(236, 84, 57);
    font-size: 0.9em;
    height: 20px;
    background-color: aqua;
}

.input-control.sucess textarea {
    border: 3px solid rgb(64, 187, 7);
}

.input-control.error textarea {
    border: 3px solid rgb(236, 84, 57);
}



.container1200{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}



/* stylisation des hovers */

.team-section__social-media--hover:hover,
.footer-section__social-media--hover:hover {
    background-color: aqua;
}

.footer-section__contacts--hover:hover{
    background-color: aqua;
    transform: translate(15px);
}

.links-section__item--hover:hover{
    background-color: aqua;
    transform: translateY(-2.1rem);
}

.navigation-bar-pc__item--hover:hover{
    background-color: aqua;
}


.button__submit--hover:hover{
    background-color: aqua;
}





/* Barre de navigation */

.navigation-bar-pc{
    display: flex;
    background-color: aquamarine;
    align-items: center;
}

.navigation-bar__logo{
    width: 30%;
    background-color: blue;
}

.navigation-bar-pc__menu{
    display: flex;
    list-style-type: none;
    width: 150%;
    justify-content: space-around
}

.navigation-bar-pc__item{
    display: flex;
    text-decoration: none;
}

.navigation-bar-mobile{
    display: none;
}



/* Section carroussel-bannière */

.carousel-banner__image{
    width: 100%;
}


/* Section newsletter */

.newsletter-section{
    display: flex;
    flex-direction: column;
    margin: 1em 0em 1em 0em;
    text-align: center;
    background-color: rgb(105, 161, 161);
}

.newsletter-section__input-button{
    background-color: rgb(134, 84, 24);
    display: flex;
    justify-content: center;
    margin: 1em 0em 1em 0em;
}

.button__submit{
    padding: 10px;
    margin-left: 1em;
}


/* Section information */

.information-section{
    background-color: rgb(230, 121, 240);
    display: flex;
    justify-content: center;
}




/* Section produits */

.products-section{
    display: flex;
}

.products-section__card{
    background-color: rgb(35, 88, 71);
    display: flex;
    flex-direction: column;
    text-align: center;

}
.products-section__donut{
    width: 40%;
}
.products-section__image{
    padding: 15px;
}

.products-section__paragraph{
    background-color: aquamarine;
}


/* Section grid d'images */

.parent-pc {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 4 / 4 / 8; background-color: aqua;}
    .div2 { grid-area: 4 / 6 / 7 / 10; background-color: aqua;}
    .div3 { grid-area: 2 / 8 / 4 / 10; background-color: rgb(233, 233, 29);}
    .div4 { grid-area: 4 / 4 / 6 / 6; background-color: blue;}
    .div5 { grid-area: 2 / 1 / 5 / 4; background-color: blue;}
    .div6 { grid-area: 3 / 10 / 6 / 12; background-color: rgb(17, 165, 54);}

.bs{
    grid-area: bs;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent-mobile{
    display: none;
}


/* Section présentation statistiques */

.statistics-section{
    display: flex;
    padding: 25px;

}

.statistics-section__image-container{
    background-color: rgb(141, 161, 155);
    width: 45%;
}

.statistics-section__text-container{
    width: 55%;
}


/* Section présentation de l"équipe */

.team-section{
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.team-section__profiles{
    text-align: center;
}

.team-section__photo{
    border-radius: 100px;
}



/* Section iframe de Google Map + formulaire */

.contact-section{
    background-color: rgb(236, 79, 166);
    display: flex;
    justify-content: space-between;
}



/* Section Iframe Google Map */

.contact-section__iframe{
    display: flex;
    width: 400%;
}



/* Section Formulaire */

.form-section{
    background-color: aquamarine;
    width: 40%;
    margin-right: 2em;
}

.form-section__paragraph{
    margin: 2em 2em 0em 2em;
}

form{

    margin: 0em 2em 2em 2em;
}

.form-section__hidden--labels{
    display: none;
}

.form-section__names{
    display: flex;
}

.form-section__first-name, .form-section__last-name{
    width: 100%;
}

.form-section__names input{
    width: 95%;
}


.form-section__input, .form-section__textarea{
    width: 98%;
}

.input-control input:focus {
    outline: 0;
}

textarea{
    outline: none;
}



/* Section liste de liens */

.links-section{
    background-color: azure;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.links-section__logo{
    width: 10%;
}

.links-section__list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.links-section__item {
    margin: 10px;
    text-decoration: none;
    color: black;
}

/* Section footer */

.footer-section{
    background-color: rgb(245, 152, 217);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section__website-creator{
    margin-left: 10px;
}


.footer-section__icon{
    width: 18%;
    margin-right: 10px;
}

.footer-section__container-contacts{
    display: flex;
    text-align: center;
    width: 35%;
    padding: 15px;
    margin: 10px;
}

.footer-section__contacts{
    display: flex; 
}

.footer-section__contacts{
    text-decoration: none;
    color: black;
}


/*-- MEDIA QUERIES --*/

/* Mobiles et Tablettes */


@media (min-width:981px) and (max-width:1200px) {

    .navigation-bar-pc{
        width: 100%;
    }

    nav{
        width: 32%;
        margin-right: 220px;
    }

}


@media only screen and (max-width: 980px) {

    .navigation-bar-pc{
        display: none;
    }

    .navigation-bar-mobile{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1em;
    }

    .navigation-bar-mobile__mobile-nav{
        text-align: end;
        margin-right: 2em;
    }

    .navigation-bar__logo{
        width: 60%;
    }
   
    .navigation-bar-mobile__mobile-icon{
        width: 25%; 
    }

    .information-section{
        flex-direction: column;
        text-align: center;
    }

    .products-section{
        flex-direction: column;
    }

    .statistics-section{
        flex-direction: column-reverse;
    }

    .statistics-section__image-container{
        width: 100%;
    }

    .statistics-section__image{
        width: 100%;
    }

    .team-section{
        flex-direction: column;
    }

    .parent-pc{
        display: none;
    }

    .parent-mobile {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 2 / 3 / 4; }
        .div2 { grid-area: 3 / 2 / 5 / 3; }
        .div3 { grid-area: 3 / 3 / 5 / 4; }
        .div4 { grid-area: 5 / 2 / 7 / 4; }

    .contact-section{
        flex-direction: column;
    }

    .form-section{
        width: 100%;
    }

    .links-section__list{
        flex-direction: column;
    }

    .links-section__list li{
        margin: 0.3em 0em 0.3em 0em;
    }

    .footer-section{
        flex-direction: column;
    }

    .footer-section__container-contacts{
        flex-direction: column;
    }

    .footer-section__contacts{
        justify-content: center;
    }

    .footer-section__icon{
        width: 8%;
    }

    .footer-section__container-contacts{
        width: 50%;
    }



}