
/*Charte Graphique: 
Polices d'écriture:
- Satisfy pour les titres 
- Lato pour les textes 

Couleurs: 
- blanc: F4F4F4
- noir : 323232
- rose: FDD4E2
- bleu: 9BF3FE
*/


.container1200{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* stylisation des hovers */

.team-section__social-media--hover:hover,
.footer-section__social-media--hover:hover {
    background-color: aqua;
}

.footer-section__contacts--hover:hover{
    background-color: aqua;
}

.links-section__item--hover:hover{
    background-color: aqua;
}

.navigation-bar-pc__item--hover:hover{
    background-color: aqua;
}

/* Barre de navigation */

.navigation-bar-pc{
    display: flex;
    background-color: aquamarine;
    align-items: center;
 
  
}

.navigation-bar-pc__logo{
    width: 30%;
    background-color: blue;
}

.navigation-bar-pc__menu{
    display: flex;
    list-style-type: none;
    width: 150%;
    justify-content: space-around
}

.navigation-bar-pc__item{
    display: flex;
    text-decoration: none;
}




/* Section produits */

.products-section{
    display: flex;
}

.products-section__card{
    background-color: rgb(35, 88, 71);
    display: flex;
    flex-direction: column;
    text-align: center;

}
.products-section__donut{
    width: 40%;
}
.products-section__image{
    background-color: brown;
    padding: 15px;
}

.products-section__paragraph{
    background-color: aquamarine;
}

/* Section présentation statistiques */

.statistics-section{
    display: flex;
    padding: 25px;
    background-color: black;
}

.statistics-section__image-container{
    background-color: rgb(141, 161, 155);
    width: 45%;
}

.statistics-section__text-container{
    background-color: blueviolet;
    width: 55%;
}


/* Section présentation de l"équipe */

.team-section{
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.team-section__profiles{
    text-align: center;
}

.team-section__photo{
    border-radius: 100px;
}



/* Section liste de liens */

.links-section{
    background-color: azure;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.links-section__logo{
    width: 10%;
}

.links-section__list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.links-section__item {
    margin: 10px;
    text-decoration: none;
    color: black;
}

/* Section footer */

.footer-section{
    background-color: rgb(245, 152, 217);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section__website-creator{
    background-color: aqua;
    margin-left: 10px;

}

.footer-section__social-media{
    background-color: blueviolet;
 
}

.footer-section__icon{
    width: 18%;
    margin-right: 10px;
}

.footer-section__container-contacts{
    background-color: aquamarine;
    display: flex;
    text-align: center;
    width: 35%;
    padding: 15px;
    margin: 10px;
}

.footer-section__contacts{
    display: flex; 
}

.footer-section__contacts{
    text-decoration: none;
    color: black;
}
