@charset "UTF-8";
/* typographie*/
/* margin - padding standards*/
/* couleurs*/
/* classes CSS pour le javascript*/
/*Fonctions Effets d'Hover*/
/*
@mixin gradient-button($color-btn){
    background-image: linear-gradient(to right, #9BF3FE 0%, #FDD4E2  51%, #F4F4F4  100%);
    margin: 0.4em;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: $color-btn;            
    border-radius: 10px;
    border: 1px solid #9BF3FE;
}
*/
/* classes CSS */
.input-control.sucess input {
  border-color: rgb(64, 187, 7);
}

.input-control.error input {
  border-color: rgb(236, 84, 57);
}

.input-control .error {
  color: rgb(236, 84, 57);
  font-size: 0.9em;
  height: 20px;
}

.input-control.sucess textarea {
  border: 3px solid rgb(64, 187, 7);
}

.input-control.error textarea {
  border: 3px solid rgb(236, 84, 57);
}

/* Barre de navigation */
.navigation-bar-pc {
  display: flex;
  align-items: center;
}

.navigation-bar__logo {
  width: 30%;
}

.navigation-bar-pc__menu {
  display: flex;
  list-style-type: none;
  width: 150%;
  justify-content: space-around;
}

.navigation-bar-pc__item {
  display: flex;
  text-decoration: none;
  color: #323232;
}

.navigation-bar-mobile {
  display: none;
}

.navigation-bar-pc__item--hover:hover {
  border-bottom: 1px solid #323232;
  padding: 0.4em;
}

/* Section carroussel-bannière */
.carousel-banner__image {
  width: 100%;
  margin-bottom: 4em;
}

/* Section newsletter */
.newsletter-section {
  display: flex;
  flex-direction: column;
  margin: 0em 0em 1em 0em;
  text-align: center;
  background-color: #FDD4E2;
}

.newsletter-section__input-button {
  display: flex;
  justify-content: center;
  margin: 1em 0em 1em 0em;
}

.newsletter-section__label {
  margin: 1em 0em 1em 0em;
}

/* Section information */
.information-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

.button__submit {
  background-color: transparent;
  text-align: center;
  color: #2a60c4;
  border-radius: 10px;
  border: 1px solid #2a60c4;
  margin-left: 1.5em;
  padding: 1em 2em 1em 2em;
}

.button__submit:hover {
  background-color: #2a60c4;
  color: #F4F4F4;
  text-decoration: none;
}

/* Section produits */
.products-section {
  display: flex;
}

.products-section__title {
  text-align: center;
}

.products-section__card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.products-section__donut {
  width: 40%;
}

.products-section__image {
  padding: 15px;
}

.products-section__paragraph {
  background-color: #9BF3FE;
  margin-bottom: 4em;
}

/* Section grid d'images */
.parent-pc {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 4em;
}

.div1 {
  grid-area: 1/4/4/9;
}

.div2 {
  grid-area: 4/6/7/11;
}

.div3 {
  grid-area: 2/9/4/11;
}

.div4 {
  grid-area: 4/4/6/6;
}

.div5 {
  grid-area: 2/1/5/4;
}

.div6 {
  grid-area: 3/11/6/13;
}

.bs {
  grid-area: bs;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parent-mobile {
  display: none;
}

/* Section présentation statistiques */
.statistics-section {
  display: flex;
  padding: 25px;
}

.statistics-section__image-container {
  width: 45%;
}

.statistics-section__text-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 3em 0em 3em;
}

.statistics-section__stats-numbers {
  display: flex;
  font-size: 2rem;
}

.statistics-section__stats {
  margin-right: 1.5em;
}

.statistics-section__button {
  width: 40%;
  background-color: transparent;
  text-align: center;
  color: #2a60c4;
  border-radius: 10px;
  border: 1px solid #2a60c4;
  padding: 1em 0.5em 1em 0.5em;
}

.statistics-section__button:hover {
  background-color: #2a60c4;
  color: #F4F4F4;
  text-decoration: none;
}

/* Section présentation de l"équipe */
.team-section__titles {
  text-align: center;
}

.team-section {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  background-color: #9BF3FE;
  margin-bottom: 4em;
}

.team-section__profiles {
  text-align: center;
}

.team-section__photo {
  border-radius: 100px;
}

.team-section__social-media--hover:hover {
  transform: translateY(-0.7rem);
}

/* Section iframe de Google Map + formulaire */
.contact-section {
  display: flex;
  justify-content: space-between;
}

/* Section Iframe Google Map */
.contact-section__iframe {
  display: flex;
  width: 400%;
}

/* Section Formulaire */
.form-section {
  background-color: #FDD4E2;
  width: 45%;
  margin-right: 2em;
  margin-bottom: 4em;
}

h4 {
  margin-bottom: 1em;
}

.form-section__paragraph {
  margin: -1.5em 1.5em -1em 1.5em;
}

form {
  margin: 0em 1.5em 1.5em 1.5em;
}

.form-section__hidden--labels {
  display: none;
}

.form-section__names {
  display: flex;
}

.form-section__first-name, .form-section__last-name {
  width: 95%;
}

.form-section__names input {
  width: 90%;
}

.form-section__input, .form-section__textarea {
  width: 95%;
}

.form-section__textarea {
  padding: 0.4em;
}

.input-control input:focus {
  outline: 0;
}

textarea {
  outline: none;
}

.form-section__button {
  background-color: transparent;
  text-align: center;
  color: #2a60c4;
  border-radius: 10px;
  border: 1px solid #2a60c4;
  padding: 1em 1em 1em 1em;
}

.form-section__button:hover {
  background-color: #2a60c4;
  color: #F4F4F4;
  text-decoration: none;
}

#first-name, #last-name, #email {
  padding: 0.4em;
}

/* Section liste de liens */
.links-section {
  background-color: #9BF3FE;
  margin-bottom: 4em;
}

.links-section__logo {
  width: 10%;
  display: flex;
  margin: auto;
}

.links-section__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.links-section__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.links-section__item {
  margin: 10px;
  text-decoration: none;
  color: black;
}

/* Section footer */
.footer-section {
  background-color: #FDD4E2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-section__website-creator {
  margin-left: 10px;
}

.footer-section__icon {
  width: 18%;
  margin-right: 10px;
}

.footer-section__container-contacts {
  display: flex;
  text-align: center;
  width: 35%;
  padding: 15px;
  margin: 10px;
}

.footer-section__contacts {
  display: flex;
}

.footer-section__contacts {
  text-decoration: none;
  color: #323232;
}

.footer-section__contacts--hover:hover {
  transform: translateX(1rem);
}

.links-section__item--hover:hover {
  border-bottom: 1px solid #323232;
  padding: 0.5em;
}

.footer-section__social-media--hover:hover {
  transform: translateY(-0.7rem);
}

/*-- MEDIA QUERIES --*/
/*Tablettes */
@media (min-width: 981px) and (max-width: 1200px) {
  .navigation-bar-pc {
    width: 100%;
  }
  nav {
    width: 32%;
    margin-right: 220px;
  }
}
/*Mobiles */
@media only screen and (max-width: 980px) {
  .navigation-bar-pc {
    display: none;
  }
  .navigation-bar-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
  }
  .navigation-bar-mobile__mobile-nav {
    text-align: end;
    margin-right: 2em;
  }
  .navigation-bar__logo {
    width: 60%;
  }
  .navigation-bar-mobile__mobile-icon {
    width: 25%;
  }
  .information-section {
    flex-direction: column;
    text-align: center;
  }
  .products-section {
    flex-direction: column;
  }
  .statistics-section {
    flex-direction: column-reverse;
    align-items: center;
  }
  .statistics-section__text-container {
    align-items: center;
  }
  .statistics-section__image-container {
    width: 100%;
  }
  .statistics-section__image {
    width: 100%;
  }
  .team-section {
    flex-direction: column;
  }
  .team-section__social-media {
    margin-bottom: 4em;
  }
  .parent-pc {
    display: none;
  }
  .parent-mobile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .div1 {
    grid-area: 1/2/3/4;
  }
  .div2 {
    grid-area: 3/2/5/3;
  }
  .div3 {
    grid-area: 3/3/5/4;
  }
  .div4 {
    grid-area: 5/2/7/4;
  }
  .contact-section {
    flex-direction: column;
  }
  .form-section {
    width: 100%;
  }
  .links-section__list {
    flex-direction: column;
  }
  .links-section__logo {
    width: 25%;
  }
  .links-section__list li {
    margin: 0.3em 0em 0.3em 0em;
  }
  .footer-section {
    flex-direction: column;
  }
  .footer-section__container-contacts {
    flex-direction: column;
  }
  .footer-section__contacts {
    justify-content: center;
  }
  .footer-section__icon {
    display: none;
  }
  .footer-section__container-contacts {
    width: 50%;
  }
}
.container1200 {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

body {
  font-family: lato;
}

h1, h2, h3, h4 {
  font-family: satisfy;
  font-size: 2.5rem;
}/*# sourceMappingURL=style2.css.map */