
@use 'variables' as *;
@use 'mixins' as *; 
@use 'classes-js' as *;
@use 'header' as *; 
@use 'banner' as *; 
@use 'newsletter-information' as *; 
@use 'products' as *; 
@use 'grid' as *; 
@use 'statistics' as *; 
@use 'team-presentation' as *;
@use 'contact' as *;
@use 'footer' as *;
@use 'responsive' as *;



.container1200{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

body{
    font-family: $font-text;
}

h1, h2, h3, h4{
    font-family: $font-title;
    font-size: $font-size-title;
}

.screen-reader-text{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}



