
$width-container: 1200px; 

/* typographie*/

$font-title: satisfy;
$font-text: lato; 

$font-size-title: 2.5rem;
$font-size-text: 1rem;

$font-size-important-standard: 1.5rem;
$font-size-important-intermediary: 2rem;

$font-weight-standard: 500;

/* margin - padding standards*/

$margin-bottom-standard: 4em;
$margin-top-standard: 4em;


/* couleurs*/

$white: #F4F4F4;
$black: #323232;
$pink: #FDD4E2;
$blue: #9BF3FE;
$dark-blue : #1f468f;
$green: #40BB07;
$red: #EC5439;


/* classes CSS pour le javascript*/



/* Style des bouttons + hover*/

.button-style{
    background-color: transparent;    
    text-align: center;
    color: $dark-blue;            
    border-radius: 10px;
    border: 1px solid $dark-blue;
}

.button-style-hover-effect{
    background-color: $dark-blue;
    color: $white;
    text-decoration: none; 
}